extends ../layouts/default
include ../mixins/carousel

block content

		//p!= data.content.contentTitle
		//br
		//p!= data.content.contentDescription

		.container: div
			.row
				.col-md-4.col-lg-4.col-xl-4.col-sm-4.col-xs-4
					img(src='images/portrait.jpg').img-responsive

				.col-md-8.col-lg-8.col-xl-8.col-sm-8.col-xs-8

					h1!= data.content.contentTitle

					h3!= data.content.contentDescription

					+carousel("main",data.projects)#maincarousel



