extends ../layouts/default
include ../mixins/carousel

block content

		div.container-fluid
			.row
				.col-md-4.col-lg-4.col-xl-4.hidden-sm.hidden-xs
					img(src='images/portrait.jpg').img-responsive.main-portrait

				.col-md-8.col-lg-8.col-xl-8.col-sm-12.col-xs-12

					h1!= data.content.contentTitle

					h3!= data.content.contentDescription

					+carousel("main",data.projects)#maincarousel



