extends ../layouts/default
include ../mixins/carousel

block content

		//p!= data.content.contentTitle
		//br
		//p!= data.content.contentDescription

		.container: div
			.row
				.col-md-4
					img(src='images/portrait.jpg').img-responsive
				.col-md-8

					h1!= data.content.contentTitle

					h3!= data.content.contentDescription

					+carousel("Carousel",data.projects)#maincarousel



