// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,700|Asap:400,700');

h1 {
	font-family: 'Asap Condensed', sans-serif;
}

h3 {
	font-family: 'Asap', sans-serif;
}

a {
	font-family: 'Asap Condensed', sans-serif;
	color: #333;
	font-size: 1.17em;
}

/* override position and transform in 3.3.x */
.carousel-inner .item.left.active {
  transform: translateX(-33%);
}
.carousel-inner .item.right.active {
  transform: translateX(33%);
}

.carousel-inner .item.next {
  transform: translateX(33%)
}
.carousel-inner .item.prev {
  transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left { 
  transform: translateX(0);
}

.carousel-control.left,.carousel-control.right {
	background-image:none;
}

.carousel-indicators {
	
}



